body
{
	margin: 0;
	padding: 0;
	background-image: url("images/waterfall.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: "Segoe Ui Light", "Tahoma", sans-serif;
}

h1
{
	font-size: 3rem;
	font-weight: 200;
	display: inline-block;
	margin-bottom: 2rem;
	margin-top: 0;
}

.container
{
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.8);
	width: 80%;
	padding: 3rem;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	color: #ffffff;
}

.profilepic
{
	width: 40%;
	float: left;
	margin-right: 5%;
}

.bodytext
{
	width: 50%;
	display: inline-block;
	float: left;
	margin: 0 5% 5% 0;
}

.projectlinks
{
position: absolute;
bottom: 0rem;
right: -10rem;
padding: 1rem;
background-color:  rgba(0, 0, 0, 0.8);
}

.bold
{
	font-weight: 600;
}

a
{
color: #ffffff;
text-decoration: none;
border-bottom: 1px dashed #ffffff;
}